.rojo1 {
  background-color: #410000;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}

.rojo2 {
  background-color: #720c0c;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}

.rojo3 {
  background-color: #b81c1c;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}

.gris1 {
  background-color: #595959;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}

.gris2 {
  background-color: #777373;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}

.gris3 {
  background-color: #a69f9f;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}

.azul1 {
  background-color: #05003f;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}

.azul2 {
  background-color: #02006b;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}

.azul3 {
  background-color: #2825db;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}
