
.darrell {
  a {
    text-decoration: none;
    color: #fff;
  }
  section {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 25px;
  }

  .navegation {
    position: absolute;
    left: 661px;
  }

  .default {
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-top: 14px;
  }

  .default a {
    display: block;
    background: rgb(150, 15, 15);
    background: linear-gradient(
      185deg,
      rgba(150, 15, 15, 1) 0%,
      rgba(47, 5, 5, 1) 100%
    );
    border-radius: 25px;
    width: 73px;
    height: 40px;
    border-radius: 29%;
    padding-left: 30px;
    padding-top: 19px;
  }

  .desactive {
    display: flex;
    flex-direction: row;
    gap: 44px;
    margin-top: 14px;
  }

  .desactive a {
    display: block;
    background: rgb(0, 15, 93);
    background: linear-gradient(
      185deg,
      rgba(0, 15, 93, 1) 0%,
      rgba(0, 31, 197, 1) 48%,
      rgba(0, 4, 27, 1) 100%
    );
    border-radius: 25px;
    width: 73px;
    height: 40px;
    border-radius: 29%;
    padding-left: 30px;
    padding-top: 19px;
  }

  .hover {
    display: flex;
    flex-direction: row;
    gap: 44px;
    margin-top: 14px;
  }

  .hover a {
    display: block;
    background: rgb(158, 158, 158);
    background: linear-gradient(
      185deg,
      rgba(158, 158, 158, 1) 0%,
      rgba(89, 89, 89, 1) 100%
    );
    border-radius: 25px;
    width: 73px;
    height: 40px;
    border-radius: 29%;
    padding-left: 30px;
    padding-top: 19px;
  }

  .funtional {
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-top: 14px;
  }

  .funtional a {
    display: block;
    background: rgb(150, 15, 15);
    background: linear-gradient(
      185deg,
      rgba(150, 15, 15, 1) 0%,
      rgba(47, 5, 5, 1) 100%
    );
    border-radius: 25px;
    width: 73px;
    height: 40px;
    border-radius: 29%;
    padding-left: 30px;
    padding-top: 19px;
  }

  .funtional :hover {
    background: rgb(158, 158, 158);
    background: linear-gradient(
      185deg,
      rgba(158, 158, 158, 1) 0%,
      rgba(89, 89, 89, 1) 100%
    );
  }

  .funtional :focus {
    background: rgb(0, 15, 93);
    background: linear-gradient(
      185deg,
      rgba(0, 15, 93, 1) 0%,
      rgba(0, 31, 197, 1) 48%,
      rgba(0, 4, 27, 1) 100%
    );
  }

  .poli {
    width: 18px;
    height: 27px;
  }
}
