body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  margin-left: 25px;
}

.rojo1 {
  background-color: #410000;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}

.rojo2 {
  background-color: #720C0C;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}

.rojo3 {
  background-color: #B81C1C;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}

.gris1 {
  background-color: #595959;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}

.gris2 {
  background-color: #777373;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}

.gris3 {
  background-color: #A69F9F;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}

.azul1 {
  background-color: #05003F;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}

.azul2 {
  background-color: #02006B;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}

.azul3 {
  background-color: #2825DB;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}